.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--deep-gray);
    width: 40px;
    border-right: 1px solid #373737;
    padding: 12px 0;

    svg {
        font-size: 18px;
        color: var(--light);
        width: 20px;
    }
}
