.icon {
    font-size: 20px;
    color: var(--light);

    &.selectable {
        cursor: pointer;
    }
}

.titleText {
    font-weight: bold;
    padding-left: 12px;
}

.content {
    padding: 12px 0;

    .label {
        color: var(--light);
        font-size: 14px;
        margin: 12px 0 6px 0;

        &:nth-child(3) {
            margin-top: 20px;
        }
    }

    .section {
        display: flex;
        flex-direction: column;

        .input {
            padding: 12px;
            border-radius: 6px;
            border: 1px solid var(--hover-gray);

            background: var(--medium-gray);
            color: var(--light);

            ::selection {
                color: white;
                background: var(--light-gray);
            }

            &:active,
            &:focus {
                outline: none;
                border-color: var(--light-gray);
            }

            &.error {
                color: var(--error);
                border-color: var(--error);
            }
        }

        .errorMessage {
            color: var(--error);
            padding-top: 4px;
        }
    }

    .presetCanvasesContainer {
        display: flex;

        .canvasSizes {
            font-size: 12px;
            background: var(--medium-gray);
            width: 60px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            color: var(--light);
            margin-right: 8px;
            cursor: pointer;

            &:hover {
                background-color: var(--hover-gray);
            }

            &.selected {
                background-color: var(--light-gray);
                // font-weight: bold;
            }
        }
    }
}

.createCanvas {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    button {
        width: 100%;
    }
}
