.button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 4px;

    &.disabled {
        svg {
            color: var(--light-gray);
        }

        &:hover {
            background-color: transparent;
            cursor: default;
        }
    }

    &:hover {
        background-color: var(--hover);
        cursor: pointer;
    }

    &.active {
        background-color: var(--empty-background);

        &:hover {
            background-color: var(--hover);
        }
    }
}
