.button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 4px;

    &:hover {
        background-color: var(--hover-gray);
        cursor: pointer;
    }

    &.active {
        background-color: var(--medium-gray);

        &:hover {
            background-color: var(--hover-gray);
        }
    }
}
