.fileMenu {
    margin-bottom: 12px;
}

.icon {
    font-size: 20px;
    color: var(--light);

    &.selectable {
        cursor: pointer;
    }
}

.list {
    .listItem {
        padding: 6px 12px;
        font-size: 13px;

        &:not(&:nth-child(1)) {
            border-top: 1px solid #ffffff26;
        }

        &:hover {
            cursor: pointer;
            background-color: #ffffff26;
        }

        &:first-child {
            &:hover {
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
            }
        }

        &.warning {
            color: var(--error);
        }

        &:last-child {
            &:hover {
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }

        &:nth-child(3) {
            border: none;
        }
    }
}
