.container {
    height: 100%;
    background-color: var(--purple-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--purple);

    .text {
        padding: 12px;
        letter-spacing: 1px;
        text-align: center;
    }
}
