.container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .title {
        font-weight: bold;
        font-size: 32px;
        color: var(--text);
        margin-bottom: 20px;
    }

    .fieldsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 320px;

        .links {
            .alreadyHaveAnAccount {
                color: var(--white);
                font-size: 14px;
            }

            .signInLink {
                text-decoration: none;
                color: var(--primary);
                font-size: 14px;
            }
        }
    }
}
