.icon {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.modal {
    height: 200px;
    background-color: var(--deep-gray) !important;

    .header {
        background-color: var(--deep-gray) !important;
        display: flex !important;
        justify-content: space-between;
        color: var(--light) !important;
    }
}
