.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;

    .canvasRow {
        display: flex;

        &:hover {
            cursor: pointer;
        }
        .canvasColumn {
            width: 10px;
            height: 10px;
            border: 0.5px solid;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
