.container {
    width: 100%;
    padding: 20px;
    .canvasRow {
        display: flex;

        .canvasColumn {
            width: 10px;
            height: 10px;
            border: 0.5px solid;
        }
    }
}
