.container {
    // position: sticky;
    // top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: var(--navigation);
    border-bottom: 1px solid var(--border-gray);
    padding: 0 20px 0 6px;

    .logo {
        height: 26px;
        cursor: pointer;
    }

    .linksContainer {
        .link {
            cursor: pointer;
            color: white;
            text-decoration: none;

            &:nth-child(1) {
                padding-right: 12px;
            }
            .medium {
                font-size: 24px;
            }

            .small {
                font-size: 20px;
            }
        }
    }
}
