.button {
    width: 100%;
    border-radius: 6px;
    background-color: var(--purple);
    color: var(--light);
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-purple);
    }

    &.md {
        padding: 14px 12px;
    }
}
