.button {
    color: var(--light);
    font-family: "Minecraft";
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px;
    background: var(--purple);
    border: 4px solid var(--hover-purple);
    box-shadow: 5px 5px 0px -1px rgb(0 0 0 / 70%);
    cursor: pointer;
    z-index: 12;

    &:active {
        transform: translateY(4px);
        transform: translateX(4px);
        box-shadow: none;
    }

    &.md {
        font-size: 12px;
        padding: 6px;
    }
}
