:root {
    --text: #ededed;
    --primary: #4148ff;
    --secondary: #7176ff;
    --empty-background: #222222;
    --white: white;
    --navigation: #1b1b1b;
    --border-gray: #353535;
    --error: #ff3763;

    --light-gray: #606060;

    --purple: #45378b;
    --light-purple: #c41c8a;
    --hover-purple: #2e226a;
    --purple-background: #efddff;

    --box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.2);
    --box-shadow-homepage: 20px 20px 30px 0px rgba(160, 145, 199, 0.5);
}
