* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**************** Ant Design component tweaks ****************/

.ant-popover .ant-popover-inner {
  padding: 0px !important;
}

:where(.css-dev-only-do-not-override-gpx7mz).ant-color-picker
  .ant-color-picker-inner-content
  .ant-color-picker-panel
  .ant-color-picker-slider-container {
  padding: 0 8px;
}

:where(.css-dev-only-do-not-override-gpx7mz).ant-color-picker
  .ant-color-picker-inner-content
  .ant-color-picker-input-container {
  padding: 0 8px 12px 8px;
}

/**************************************************************/
