@import "../../stylingVariables";

.container {
    height: 100%;
    width: 100%;
    background-color: var(--homepage-background);

    button {
        margin-top: 20px;
    }

    .content {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 57px);
        justify-content: space-evenly;

        .hero {
            display: flex;
            align-items: center;
            padding: 0 3em;

            .slogan {
                max-width: 80%;
            }

            .laptop {
                max-width: 60%;
            }

            .description {
                color: var(--text);
                padding-top: 1.5em;
            }
        }

        .cardsContainer {
            display: flex;
            gap: 4em;
            justify-content: center;
            align-items: center;
            padding: 0 3em;

            .card {
                .topSection {
                    display: flex;
                    align-items: center;
                    padding-bottom: 16px;

                    .icon {
                        width: 50px;
                        height: 50px;
                        padding-right: 12px;
                    }

                    .heading {
                        font-size: 24px;
                        color: var(--secondary);
                    }
                }

                .text {
                    font-size: 16px;
                    color: var(--text);
                }
            }
        }
    }
}
